*{
    background-color: bisque;
}

h2{
    font-size: 20pt;
    color: violet;
    text-decoration: underline;
    text-align: right;
    font-style: italic;
}
h2 sup{
    display: inline-block;
    
}


div{
    text-align: center;
}